<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Titanic Survival Prediction</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>🚢 Titanic Survival Prediction</h1>

        <p>
            Predict whether a passenger would survive using a
            Decision Tree Machine Learning model.
        </p>

    </div>

    <form action="/predict" method="post">

        <div class="grid">

            <div class="input-group">

                <label>Passenger Class</label>

                <select name="Pclass">

                    <option value="1">First Class</option>

                    <option value="2">Second Class</option>

                    <option value="3">Third Class</option>

                </select>

            </div>

            <div class="input-group">

                <label>Gender</label>

                <select name="Sex">

                    <option value="0">Male</option>

                    <option value="1">Female</option>

                </select>

            </div>

            <div class="input-group">

                <label>Age</label>

                <input
                    type="number"
                    name="Age"
                    step="0.1"
                    placeholder="29">

            </div>

            <div class="input-group">

                <label>Fare</label>

                <input
                    type="number"
                    name="Fare"
                    step="0.01"
                    placeholder="75.50">

            </div>

            <div class="input-group">

                <label>Siblings / Spouses</label>

                <input
                    type="number"
                    name="SibSp"
                    placeholder="0">

            </div>

            <div class="input-group">

                <label>Parents / Children</label>

                <input
                    type="number"
                    name="Parch"
                    placeholder="0">

            </div>

            <div class="input-group">

                <label>Embarked</label>
            </div>

        </div>

        <button type="submit">

            Predict Survival

        </button>

    </form>

   {% if prediction %}

<div class="result">

    <h3>Prediction</h3>

    <h2>{{ prediction }}</h2>

    <p>
        Confidence:
        <strong>{{ probability }}%</strong>
    </p>

</div>

{% endif %}


</div>

</body>

</html>
